<html>
<body>
	<h1>{{ sprintf(lang('email_forgot_password_heading'), identity) }}</h1>
    <p>{{ sprintf(lang('email_forgot_password_subheading'), forgotten_password_code) | raw }}</p>
</body>
</html>