/* 
    Created on : 6 oct. 2019, 15:39:03
    Author     : laurent
*/

/**************** FFCK ****************/
@font-face {
    font-family: sansationbold;
    src: url('../font/Sansation_Bold.ttf');
}

h1 {
    color: #1e64af;
    font-family: "sansationbold";
    font-size: 30px;
    margin: 0 0 20px;
    padding: 0 0 0 12px;
    position: relative;
    text-transform: uppercase;
    width: auto;
    border-left: 5px solid #ce5e2d;
}

.card h4 {
    font-family: "sansationbold";
}

table.table th {
    color: white;
    background-color: #1e64af;
}
/************** Bootstrap adjustments **************/
body {
    padding-top: 50px;
}
.navbar {
    padding: 0 1rem;
    font-family: "sansationbold";
}

.navbar-main {
    background-image:-moz-linear-gradient(left, #0098ce, #313b9b);
    background-image:-webkit-linear-gradient(left, #0098ce, #313b9b);
    background-image:-o-linear-gradient(left, #0098ce, #313b9b);
    background-image:linear-gradient(to right, #0098ce, #313b9b);
}

.navbar-logged-in {
    font-size: 0.9em;
    margin-top: 42px;
    z-index: 930;
    background-color: #cacaca;
}

.navbar .nav-item {
    line-height: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
    font-weight: bold;
}

.navbar .active {
    background-color: #ce5e2d;
    color: white;
}

.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: white;
}
 
.bg_ffck_primary {
    background-image:-moz-linear-gradient(left, #0098ce, #313b9b);
    background-image:-webkit-linear-gradient(left, #0098ce, #313b9b);
    background-image:-o-linear-gradient(left, #0098ce, #313b9b);
    background-image:linear-gradient(to right, #0098ce, #313b9b);
}

body {
    padding-top: 43px; /* public */
    padding-top: 75px; /* logged */
}


@media (min-width: 992px) {
    .navbar-logged-in::after {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #313b9b;
        border-left: none;
        height: 0;
        width: 0;
        bottom: 0;
        content: ' ';
        position: absolute;
        right: 0px;
        top: 9px;
        margin-left: 0px;
    }
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	font-weight: bold;
}

/**************** Datatable ****************/
table.table-wide {
    width: 100%;
}
table.table-compact th, table.table-compact td {
    padding: 4px;
}

